pkgbase = aeone-games-bin
	pkgdesc = aeone.games desktop app
	pkgver = 0.1.15
	pkgrel = 1
	url = https://play.aeone.games
	arch = x86_64
	license = LicenseRef-aeone-games
	depends = vulkan-icd-loader
	depends = alsa-lib
	depends = libxkbcommon
	optdepends = vulkan-driver: the games render through Vulkan
	optdepends = wayland: a native Wayland window
	optdepends = libx11: an X11 window
	provides = aeone-games
	conflicts = aeone-games
	options = !strip
	options = !debug
	source = https://github.com/aeone-games/desktop/releases/download/v0.1.15/aeone-games-0.1.15-linux-x64.tar.gz
	source = aeone.games.desktop
	source = aeone.games.png
	source = LICENSE
	sha256sums = 843c005c30f56b44b3d44b61ec6f3535f7fa0fb07b891b40ca5c2710adb6d40f
	sha256sums = b8c6c027a79e63297b688f15f72c5e5329d2138baafa3311923938ba594e6241
	sha256sums = fbfede3d2537aec37818ac1cd88251f0a189742005a09b9706c5521392d4b53d
	sha256sums = 9a23a56462b6707ab2502a1a66712773224ac5effe870ea17261a790ebe5c2fe

pkgname = aeone-games-bin
